<a href="https://colab.research.google.com/github/eungyu321/ABCD-A/blob/20250328/%ED%8C%8C%EC%9D%B4%EC%8D%AC300%EC%A0%9C_11_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
삼성전자=50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [4]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print("시가총액", type(시가총액))
print("현재가", type(현재가))
print("PER", type(PER))

시가총액 <class 'int'>
현재가 <class 'int'>
PER <class 'float'>

In [5]:
s="hello! "
t="python"
print(s+t)

hello! python

In [6]:
a=2
b=3
a+a*b

8